<%= content_for :head do %>
  <%# Javascript Files %>
  <%# ChangeThisPls: remove js files that are not needed %>
  <%= javascript_include_tag('animations') %>
  <%= javascript_include_tag('input_manager') %>
  <%= javascript_include_tag('show_edit_swap') %>
  <%= javascript_include_tag('swap_elements') %>
  <%# Stylesheet %>
<% end %>

<%# Page Header %>
<div class="pt-4 pb-2 px-5"> 
  <div class="row">
    <div class="col-12 d-flex flex-wrap">
      <div class="mr-auto">
        <%# Page Title %>
        <h2 class="page-head-title mr-2">
          ChangeThisPls
        </h2>
        <%# Breadcumb %>
        <% if can? ChangeThisPls, ChangeThisPls %>
          <nav aria-label="breadcrumb" role="navigation" style="line-height: 6px;">
            <ol class="breadcrumb page-head-nav" style="padding: 3px 0px; margin: 0px 0px 7px 0px; background-color: #eeeeee;">
              <li class="breadcrumb-item"><%= link_to "First Level", "#" %></li>
            </ol>
          </nav>
        <% end %>
      </div>
      <%# Page header buttons %>
      <div class="d-flex align-items-center flex-wrap">
        <%# NOTE: if multiple buttons, all buttons EXCEPT FOR THE LAST BUTTON need a class of mr-2 %>
      </div>
    </div>
  </div>
</div>

<%# Start page body %>
<div class="main-content container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <%# Page tabs %>
      <div id="tabs" class="pb-4">
        <%= render(partial: 'ChangeThisPls', locals: { tab: @tab }) %>
      </div>

      <%# Card partial %>
      <div id="ChangeThisPls_card">
        <%= render(partial: 'ChangeThisPls', locals: { ChangeThisPls }) %>
      </div>

<%# finish page body  %>
    </div>
  </div>
</div>

<%# partial for unsaved changes warning modal if using show_edit_swap %>
<%= render 'shared/unsaved_changes_warning' %>
<%# ChangeThisPls: only use this partial if also using show-edit-swap %>
