<%= content_for :head do %>
  <%# Custom stylesheet for this file %>
  <%#= stylesheet_link_tag(__FILE__.split("app/views/").last.remove('.html.erb')) %>
<% end %>
<%= content_for :end_of_body do %>
  <%# Custom javascript for this file %>
  <%#= javascript_pack_tag(__FILE__.split("app/views/").last.remove('.html.erb'), 'data-turbolinks-track': 'reload') %>
<% end %>
<% provide(:nav_type, 'default_logged_in') %>
<%# DeleteThisPls - nav_type options: 'default_logged_in', 'full_height_columns', 'splash', and 'custom' %>

<%# ChangeTemplate header %>
<div id="ChangeTemplate_header">
  <%= render(partial: 'ChangePath/ChangeTemplate_header', locals: { ChangeLocals }) %>
</div>

<%# ChangeTemplate tabs %>
<div id="ChangeTemplate_tabs" class="pb-4">
  <%= render(partial: 'ChangePath/ChangeTemplate_tabs', locals: { tab: @tab }) %>
</div>

<%# ChangeTemplate body %>
<div id="ChangeTemplate_body">
  <%= render(partial: 'ChangePath/ChangeTemplate_body', locals: { ChangeLocals }) %>
</div>
